<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionAssociation.Properties.Settings.AssociationDBConnectionString"
            connectionString="Data Source=COLOSSUS;Initial Catalog=AssociationDB;Persist Security Info=True;User ID=sa;Password=zilla"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>